body{

 

background:#151515;

 

color:#f0e6c0;

 

font-family:Georgia,serif;

 

margin:0;

 

padding:40px;

 

}

 

header{

 

text-align:center;

 

margin-bottom:50px;

 

}

 

h1{

 

font-size:48px;

 

color:#d4af37;

 

margin-bottom:0;

 

}

 

h2{

 

font-weight:normal;

 

margin-top:10px;

 

color:#c8b27d;

 

}

 

button{

 

background:#7d5b20;

 

color:white;

 

padding:15px 30px;

 

font-size:20px;

 

border:none;

 

border-radius:8px;

 

cursor:pointer;

 

margin-top:30px;

 

}

 

button:hover{

 

background:#a07a2d;

 

}

 

.player,

.guardian{

 

background:#222;

 

padding:20px;

 

border:2px solid #6f5b2d;

 

border-radius:10px;

 

margin-bottom:25px;

 

}
